# Dependensi (Pustaka eksternal)
/vendor/
/node_modules/

# File Environment & Kredensial Sensitif
.env
.env.backup
.env.production

# Storage & Cache (Log, file upload, & kunci enkripsi)
/storage/*.key
/public/storage
/.phpunit.cache
*.log

# File Sistem Operasi & IDE Editor
.DS_Store
Thumbs.db
.vscode/
.idea/